@font-face {
    font-family: pts-700;
    src: url(./fonts/PTSans-Bold.ttf);
}

@font-face {
    font-family: pts-400;
    src: url(./fonts/PTSans-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    height:7367px ;
    background-color: #FFFFFF;
}

/* NAVBAR START */

nav {
    display: flex;
    padding: 17px 150px 16px 180px;
    border-bottom: 1px solid #E0E0E0;
}

.navbar-words {
    display: flex;
    list-style-type: none;
    gap: 35px;
    padding-top: 4px;
}

.navbar-word-li a {
    text-decoration: none;
    font-size: 18px;
    font-family: pts-400;
    color: #1D1818;
}

.navbar-word-li a:hover {
    color: #ec1013;
   
}

select {
    border: none;
    font-size: 18px;
    font-family: pts-700;
    color: #1D1818;
}

#navbar-li {
    padding-right: 730px;
}

/* NAVBAR END */

/* ArkoMebel START */
.arkomebel {
    display: flex;
    margin: 12px 0px 14px 180px;
}

.mebel {
    display: flex;
}

.arkomebel-img {
    margin-right: 99px;
}

.arko-p1 {
    font-size: 16px;
    font-family: pts-400;
    color: #1D1818;
    margin-right: 67px;
    margin-top: 5px;
}

.arko-p2  a{
    font-size: 18px;
    font-family: pts-400;
    color: red;
}

.search {
    display: flex;
    width: 296px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid #A8D1E7;
    margin-right: 72px;
    margin-top:5px ;
    /* text-align: center; */
    box-shadow: 2px 2px 5px #A8D1E7;
    cursor: pointer;
}

input {
    padding: 14px 60px 18px 25px;
    border: none;
    background-color: inherit;
}

.search-img {
    margin-top: 10px;
}

.number-span {
    font-size: 22px;
    font-family: pts-700;
    color: #1D1818;
    margin-right: 67px;
}

.number-button {
    width: 177px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #E13B3F;
    background-color: inherit;
    color: #E13B3F;
    font-size: 18px;
    font-family: pts-400;
    margin-top: 7px;
    box-shadow: 2px 2px 5px #E13B3F;
    cursor: pointer;
}

.number-button:hover {
    transform: translate(2px,1px);
}

.number {
    margin-right:20px;
}

.mebel-1 {
    margin-right: 39px;
    text-align: center;
    margin-top: 7px;
}

.mebel-2 {
    position: relative;
    margin-right: 39px;
    margin-top: 7px;
}

.mebel-div {
    position: absolute;
    top: -2px;
    left: 35px;
    text-align: center;
    width:36px ;
    height: 19px;
    border-radius: 7px;
    background-color: #E13B3F;
    color: #FFFFFF;
    font-size: 14px;
    font-family: pts-400;
}

#mebel-3 {
    margin-top: 0.5px;
}

.mebel-p {
    font-size: 18px;
    font-family: pts-400;
    margin-top: 7px;
}
/* ArkoMebel END */

/* Menu START */
.menu-ul {
    display: flex;
    gap: 95px;
    background-color: #A8D1E7;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    font-size: 20px;
    font-family: pts-700;
    padding-left: 180px;
    list-style-type: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px #A8D1E7;
}

.menu-ul a {
    text-decoration: none;
    font-size: 20px;
    font-family: pts-700;
    color: #1D1818;
}

.city {
    margin-top: 17px;
}

.box #menu-ul-li {
    background-color:#A8D1E7;
    /* padding: 0px 20px; */
    /* margin-top:-5px; */
    font-size: 20px;
    font-family: pts-700;
    cursor: pointer;
}

.box .menu-2-alfa {
    display: block;
    padding: 2px 30px;
    color: #1D1818;
    font-size: 18px;
    font-family: pts-400;
    text-decoration: none;
}

.box .menu-2 {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #e9e9e9, -1px 5px #e9e9e9;
    z-index: 1;
}

.box:hover .menu-2 {
    display: block;
}

.box .menu-2-alfa:hover {
    background-color:#d8d5d5 ;
}

#box-2:hover #menu-ul-li {
    color: #818080;
}

#box-2:hover #menu-windows {
    color: #818080;
}

.menu-li {
    width: 191px;
    height: 60px;
    border-radius: 5px;
    background-color: #384685;
    color: #ffffff;
    font-size: 20ox;
    font-family: pts-700;
    padding: 18px 0px 20px 20px;
}

.menu-li a  {
    margin-top: 10px;
    color: #ffffff;
}

.air-grey {
    width: 1520px;
    height: 387px;
    border-radius: 10px;
    background-color: #C4C4C4;
    margin: 42px 201px 115px 180px;
    box-shadow: 3px 3px 5px #000000a4;
}
/* Menu END */

/* НАШИ ПРЕИМУЩЕСТВА START */
.fox-h1 {
    color: #000000;
    font-size: 30px;
    font-family: pts-700;
    margin-left: 180px;
    margin-bottom: 34px;
}

.fox-book {
    display: flex;
}

#books-1 {
    margin-left: 180px;
}

.books {
    width: 357px;
    height: 94px;
    border-radius: 5px;
    background-color: #F4F4F4;
    display: flex;
    margin-right: 31px;
    padding: 25px 20px 25px 16px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #F4F4F4;
}

.books:hover {
    transform: translate(3px,3px);
}

.books-p {
    padding-left: 10px;
    padding-top: 15px;
    color: #000000;
    font-size: 18px;
    font-family: pts-700;
}

.books-p2 {
    color: #000000;
    font-size: 16px;
    font-family: pts-400;
    padding-top: 7px;
    padding-left: 10px;
}

#books-p-text {
    margin-top: -30px;
}
/* НАШИ ПРЕИМУЩЕСТВА END */

/* КАТАЛОГ START */
.Katalog {
    margin-left: 180px;
}

.katalog-h1 {
    margin-top: 62px;
    margin-bottom: 39px;
    color: #000000;
    font-size: 30px;
    font-family: pts-700;
}

.katalog-top {
    position: relative;
    display: flex;
    gap: 30px;
}

.katalog-top-2 {
    position: relative;
    display: flex;
    gap: 30px;
    margin-top: 39px;
}

.Kuxni {
    position: absolute;
    top: 195px;
    width: 108px;
    height: 43px;
    background-color: #384685;
    border-bottom-left-radius: 10px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    padding: 8px 16px 14px 16px;
}

.Kuxni-2 {
    position: absolute;
    top: 195px;
    width: 167px;
    height: 43px;
    background-color: #384685;
    border-bottom-left-radius: 10px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    padding: 8px 16px 14px 16px;
}

.Kuxni-3 {
    position: absolute;
    top: 195px;
    width: 142px;
    height: 43px;
    background-color: #384685;
    border-bottom-left-radius: 10px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    padding: 8px 16px 14px 16px;
}

.Kuxni-4 {
    position: absolute;
    top: 195px;
    width: 157px;
    height: 43px;
    background-color: #384685;
    border-bottom-left-radius: 10px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    padding: 8px 16px 14px 16px;
}

.Kuxni-5 {
    position: absolute;
    top: 195px;
    width: 186px;
    height: 43px;
    background-color: #384685;
    border-bottom-left-radius: 10px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    padding: 8px 16px 14px 16px;
}

.Kuxni-6 {
    position: absolute;
    top: 195px;
    width: 137px;
    height: 43px;
    background-color: #384685;
    border-bottom-left-radius: 10px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    padding: 8px 16px 14px 16px;
}

.Kuxni-7 {
    position: absolute;
    top: 195px;
    width: 226px;
    height: 43px;
    background-color: #384685;
    border-bottom-left-radius: 10px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    padding: 8px 16px 14px 16px;
}
/* КАТАЛОГ END */


/* ПОПУЛЯРНЫЕ ТОВАРЫ START */
.stars {
    margin-top: 73px;
    margin-left: 180px;
}

.port {
    display: flex;
    gap: 1121px;
    margin-top: 50px;
}

.stars-p-stars {
    color: #1D1818;
    font-size: 18px;
    font-family: pts-400;
    padding-top:20px;
}

.figma-tops {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.stars-top {
    width: 357px;
    height: 618px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 10px 2px #0000001A;
    padding-left: 31px;
    /* transform: translate(50px, 50px); */
}

.stars-h1 {
    color: #000000;
    font-size:30px;
    font-family: pts-700;
    margin-bottom: 39px;
}

.stars-top-img {
    padding-top: 37px;
}

.stars-p {
    margin-top: 40px;
    color: #000000;
    font-size:18px;
    font-family: pts-400;
    margin-bottom: 39px;
}

.stars-h3 {
    margin-top: 40px;
    color: #000000;
    font-size:25px;
    font-family: pts-700;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    padding-top: 12px;
    padding-bottom: 22px;
    margin-bottom: 39px;
}

.stars-h3-span {
    color: #BDBDBD;
    font-size:18px;
    font-family: pts-700;
    padding-right: 12px;
}

.star-heart {
    position: relative;
}

/*  */

/* dropdawn */

/*  */


.top-dropdawn {
    display: flex;
}

.top-div-1 {
    width: 82px;
    height: 5px;
    border-radius: 2px;
    background-color: #384685;
    margin-top: 16px;
    margin-bottom: 19px;
    margin-right: 19px;
}

.top-div-2 {
    width: 82px;
    height: 5px;
    border-radius: 2px;
    border: 1px solid #384685;
    background-color: #ffffff;
    margin-top: 16px;
    margin-right: 19px;
}

.top-div-3 {
    width: 82px;
    height: 5px;
    border-radius: 2px;
    border: 1px solid #384685;
    background-color: #ffffff;
    margin-top: 16px;
}

.top-dropdawn-p {
    color: #000000;
    font-size:18px;
    font-family: pts-400;
    margin-bottom: 29px;
}

.top-dropdawn-colors {
    display: flex;
    gap: 13px;
}

.top-dropdawn-h3 {
    color: #000000;
    font-size:25px;
    font-family: pts-700;
    padding-top: 12px;
    padding-bottom: 15px;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}

.top-dropdawn-h3-span {
    color: #BDBDBD;
    font-size:18px;
    font-family: pts-700;
    padding-right: 12px;
}

.stars-button {
    width: 220px;
    height: 53px;
    border-radius: 5px;
    background-color: #FFFFFF;
    transform: translate(5px, 5px);
    color: #1D1818;
    font-size: 20px;
    font-family: pts-700;
    padding: 15px 73px 12px 74px;
    cursor: pointer;
    margin-bottom: 27px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.384);
    border: 1px solid #384685
}

.stars-button:hover{
    background-color: #384685;
    color: #FFFFFF;
    transform: translate(5px, 5px);
    border: none;
    z-index: 2;
}

.star-top-dropdawn {
    position: absolute;
    left: -31px;
    top: -215px;
    padding-left: 31px;
    width: 357px;
    height: 220px;
    background-color: #ffffff;
    /* box-shadow: 4px 4px 10px 2px #0000001A; */
    z-index: 1;
    /* display: block; */
    visibility: hidden;
}

.parvoz {
    display: inline-block;
    position: relative;
}

.parvoz:hover .star-button-dropdawn {
    /* display: block; */
    visibility: visible;
    z-index: 1;
}

.parvoz:hover .star-top-dropdawn {
    /* display: block; */
    visibility: visible;
    z-index: 1;
}


.sbd-p1 {
    color: #1D1818;
    font-size: 18px;
    font-family: pts-400;
}

.star-button-dropdawn {
    display: flex;

}

.star-button-dropdawn {
    height: 150px;
    position: absolute;
    width: 357px;
    background-color: #ffffff;
    /* background-color: #979292; */
    padding-left: 31px;
    margin-top: 27px;
    left: -32px;
    box-shadow: 3px 3px 5px #e7e6e6;
    visibility: hidden;
    /* display: none; */
}

.sbd-p2 {
    color: #1D1818;
    font-size: 16px;
    font-family: pts-400;
    margin-left: 12px;
}

/* DROP START */
.drop {
    position: relative;
    font-size: 30px;
    display: inline-block;
    color: red;
    cursor: pointer;
}

.drop:hover .fa-regular {
    display: none;
}

.drop:hover .fa-solid {
    visibility: visible;
}

.fa-regular {
    display: block;
    position: absolute;
    z-index: 1;
    left: 270px;
    top: -60px;
}

.fa-solid {
    position: absolute;
    top: 20px;
    visibility: hidden;
    left: 270px;
    top: -60px;
}

.tooltext {
    content: " ";
    position: relative;
    color: #757575;
    font-size: 14px;
    font-family: pts-400;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 0px #0000001A;
    width: 186px;
    height: 79px;
    border-radius: 2px;
    left: 250px;
    top: -105px;
    visibility: hidden;
}

.drop:hover .tooltext {
    visibility: visible;
}

.stars-30 {
    position: relative;
}

.stars-30-img {
    position: absolute;
    left: -20px;
}

.stars-30-p {
    position: absolute;
    top: 27px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: pts-400;
}

.stars-31-img {
    position: absolute;
    top: 25px;
    left: -19px;
}

.surxon {
    width: 284px;
    height: 214px;
}

.termiz {
    width: 284px;
    height: 214px;
} 


.stars-30-1 {
    position: relative;
}

.stars-32-img {
    position: absolute;
    top: 24px;
    left: 60px;
}

.stars-30-p-2 {
    position: absolute;
    top: 27px;
    left: 75px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: pts-400;
}

.uzb {
    width: 1520px;
    height: 75px;
    border-radius: 5px;
    background: #F2F2F2;
    color: #1D1818;
    font-size: 18px;
    font-family: pts-400;
    border: none;
    margin-top: 37px;
    cursor: pointer;
    border: 1px solid #e6e4e4;
    box-shadow: 3px 3px 5px #e6e4e4;
}

.uzb:hover {
    background-color: #384685;
    color: #ffffff;
    transform: translate(3px,2px);
}

#stars-p {
    margin-top: -2px;
    margin-bottom: -8px;
}

/* ПОПУЛЯРНЫЕ ТОВАРЫ END */

/* ПОПУЛЯРНЫЕ КАТЕГОРИИ START */

.angliya {
    padding-left: 180px;
    margin-top: 79px;
}

.angliya-h1 {
    color: #000000;
    font-size: 30px;
    font-family: pts-700;
    margin-bottom: 40px;
}

.london {
    gap: 34px;
    margin-bottom: 15px;
}

.london-button {
    margin-right: 34px;
    width: 113px;
    height: 45px;
    background-color: #ffffff;
    color: #384685;
    border: 1px solid #384685;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #384685;
    cursor: pointer;
}

.london-button:hover {
    background-color: #384685;
    color: #ffffff;
    transform: translate(3px,2px);
}

.london-button-2 {
    margin-right: 34px;
    width: 142px;
    height: 45px;
    background-color: #ffffff;
    color: #384685;
    border: 1px solid #384685;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #384685;
    cursor: pointer;
}

.london-button-2:hover {
    background-color: #384685;
    color: #ffffff;
    transform: translate(3px,2px);
}

.london-button-3 {
    margin-right: 34px;
    width: 182px;
    height: 45px;
    background-color: #ffffff;
    color: #384685;
    border: 1px solid #384685;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #384685;
    cursor: pointer;
}

.london-button-3:hover {
    background-color: #384685;
    color: #ffffff;
    transform: translate(3px,2px);
}

.london-button-4 {
    margin-right: 34px;
    width: 149px;
    height: 45px;
    background-color: #ffffff;
    color: #384685;
    border: 1px solid #384685;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #384685;
    cursor: pointer;
}

.london-button-4:hover {
    background-color: #384685;
    color: #ffffff;
    transform: translate(3px,2px);
}

.london-button-5 {
    margin-right: 34px;
    width: 153px;
    height: 45px;
    background-color: #ffffff;
    color: #384685;
    border: 1px solid #384685;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #384685;
    cursor: pointer;
}

.london-button-5:hover {
    background-color: #384685;
    color: #ffffff;
    transform: translate(3px,2px);
}

.chelsi-button {
    margin-right: 34px;
    width: 144px;
    height: 45px;
    background-color: #ffffff;
    color: #384685;
    border: 1px solid #384685;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #384685;
    cursor: pointer;
}

.chelsi-button:hover {
    background-color: #384685;
    color: #ffffff;
    transform: translate(3px,2px);
}

.chelsi-button-2 {
    margin-right: 34px;
    width: 139px;
    height: 45px;
    background-color: #ffffff;
    color: #384685;
    border: 1px solid #384685;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #384685;
    cursor: pointer;
}

.chelsi-button-2:hover {
    background-color: #384685;
    color: #ffffff;
    transform: translate(3px,2px);
}

.chelsi {
    margin-bottom: 15px;
}
/* ПОПУЛЯРНЫЕ КАТЕГОРИИ END */


/* ТОВАРЫ ПО АКЦИИ START */
.middle {
    margin-left: 180px;
    margin-top: 76px;
}

.middle-h1 {
    color:#1D1818 ;
    font-size: 30px;
    font-family: pts-700;
    margin-bottom: 41px;
}
/* ТОВАРЫ ПО АКЦИИ END */

/* НАШИ РАБОТЫ START */
.footboll {
    padding-left: 180px;
    margin-top: 96px;
}

.futbol-text {
    display: flex;
    gap: 1120px;
}

.futbol-h1 {
    color:#1D1818 ;
    font-size: 30px;
    font-family: pts-700;
    margin-bottom: 36px;
}

.futbol-p {
    color:#1D1818 ;
    font-size: 18px;
    font-family: pts-400;
    margin-bottom: 36px;
}

.tennis {
    display: flex;
}

.tennis-2 {
    width: 488px;
    height: 833px;
    background-image: url("./img/image\ 8.png");
    margin-left: 28px;
    box-shadow: 5px 5px 5px #d8d5d5;
    border-radius: 10px;
    cursor: pointer;
}

.tennis-2:hover {
    transform: translate(10px,20px);
}

.tennis-1-11:hover {
    transform: translate(10px,20px);
}

.tennis-1-10-1:hover {
    transform: translate(10px,20px);
}

.tennis-1-10-2:hover {
    transform: translate(10px,20px);
}

.tennis-1-11 {
    width: 1003px;
    height: 430px;
    background-image: url("./img/image\ 9.png");
    box-shadow: 5px 5px 5px #d8d5d5;
    border-radius: 10px;
    cursor: pointer;
}

.tennis-1-10 {
    display: flex;
}

.tennis-1-10-1 {
    width: 488px;
    height: 374px;
    background-image: url("./img/Group\ 4.png");
    margin-right: 30px;
    margin-bottom: 29px;
    box-shadow: 5px 5px 5px #d8d5d5;
    border-radius: 10px;
    cursor: pointer;
}

.tennis-1-10-2 {
    width: 488px;
    height: 374px;
    background-image: url("./img/Group\ 5.png");
    box-shadow: 5px 5px 5px #d8d5d5;
    border-radius: 10px;
    cursor: pointer;
}

.tennis-2-button {
    width: 210px;
    height: 43px;
    background: #384685;
    border-bottom-left-radius: 10px;
    border: none;
    color:#FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    margin-top: 790px;
}

.tennis-1-11-button {
    width: 193px;
    height: 43px;
    background: #384685;
    border-bottom-left-radius: 10px;
    border: none;
    color:#FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    margin-top: 387px;
}

.tennis-1-10-1-img {
    width: 206px;
    height: 43px;
    background: #384685;
    border-bottom-left-radius: 10px;
    border: none;
    color:#FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    margin-top: 331px;
}

.tennis-1-10-2-img {
    width: 257px;
    height: 43px;
    background: #384685;
    border-bottom-left-radius: 10px;
    border: none;
    color:#FFFFFF;
    font-size: 22px;
    font-family: pts-400;
    margin-top: 331px;
}
/* НАШИ РАБОТЫ END */


/*  НАШИ КОНТАКТЫ START */
.tell {
    margin-left: 180px;
    margin-top: 65px;
    display: flex;
}

.tell-1 {
    padding-left: 53px;
    padding-top: 52px;
    background:#F3E7C699;
    width:713px;
    height:488px ;
    background-image: url("./img/blue-master-bedroom-2021-08-26-15-32-55-utc\ 1.png");
}

.tell-2 {
    width:808px;
    height:488px ;
    background-image: url("./img/Rectangle\ 49.png");
}

.tell-h1 {
    color:#1D1818;
    font-size: 30px;
    font-family: pts-700;
    margin-bottom: 82px;
}

.tell-h3 {
    color:#1D1818;
    font-size: 25px;
    font-family: pts-700;
    margin-bottom: 32px;
}

.tell-p {
    color:#1D1818;
    font-size: 25px;
    font-family: pts-700;
    margin-bottom: 57px;
}

.tell-button {
    width: 259px;
    height:58px;
    color:#FFFFFF;
    font-size: 25px;
    font-family: pts-700;
    background: #384685;
    border: none;
    border-radius: 5px;
}

.tell-button:hover {
    background: #102cac;
}
/*  НАШИ КОНТАКТЫ END */

/* МЫ В INSTAGRAM START */
.instagram {
    margin-left: 180px;
    margin-top: 105px;
}

.instagram-h1 {
    margin-bottom: 42px;
    color:#1D1818;
    font-size: 30px;
    font-family: pts-700;
}

.instagram-img {
    margin-left: 170px;
}
/* МЫ В INSTAGRAM END */


/* FOOTER START */
.footer{
    margin-top: 71px;
    background: #384685;
}

footer {
    margin-left: 180px;
    margin-right: 159px;
    display: flex;
    justify-content: space-between;
}

.arko-yellow {
    position: absolute;
    z-index: 0;
    margin-top: 42px;
    width: 38px;
    height:38px;
    border-radius: 50%;
    background: #FFD60A;
}

.arko-h1 {
    position: relative;
    margin-top: 40px;
    margin-left: 10px;
    color:#FFFFFF;
    font-size: 30px;
    font-family: pts-700;
    margin-bottom: 36px;
}

.arko-img {
    position: absolute;
    margin-top: 35px;
    margin-left: 10px;
}

.arko-p {
    color:#FFFFFF;
    font-size: 20px;
    font-family: pts-700;
    margin-bottom: 21px;
}

.arko-left-p1 {
    color:#FFFFFF;
    font-size: 16px;
    font-family: pts-400;
    margin-bottom: 15px;
}

.arko-left-p1 span {
    margin-left: 26px;
    color:#FFFFFF;
    font-size: 18px;
    font-family: pts-400;
}

.arko-h2 {
    color:#FFFFFF;
    font-size: 22px;
    font-family: pts-700;
    margin-top: 47px;
}

.footer-kuxni {
    list-style-type: none;
    margin-top: 47px;
    margin-left: 27px;
}

.footer-kuxni-li {
    color:#FFFFFF;
    font-size: 20px;
    font-family: pts-700;
    /* margin-bottom:25px; */
}

.footer-kuxni-li-2 {
    color:#FFFFFF;
    font-size: 16px;
    font-family: pts-400;
    margin-top:25px;
}

.footer-2-h1 {
    color:#DBDBDB;
    font-size: 20px;
    font-family: pts-400;
    padding-top:63px;
    padding-bottom:43px;
    margin-left: 180px;
}
/* FOOTER END */