.container {
    width: 100px;
}

.icons {
    font-size: 50px;
    transition: color 0.3s ease;
}

p {
    font-size: 50px;
    color:red;
    position: relative;
    cursor: pointer;
}

p .fa-regular {
    display: block;
    transition: opacity o.3s ease;
}

p:hover .fa-regular {
    opacity: 0;
}

p .fa-solid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    opacity: 0;
    transition: opacity o.3s ease;
}

p:hover .fa-solid {
    opacity: 1;
}
